.agrupamentoInput {
    display: flex;
    flex-direction: column;
    gap: 8px
}

input {
 border-radius: 8px;
 background-color: transparent;
 border: 1px solid #4A4949;
 font-weight: 400;
 font-size: 16px;
 line-height: 120%;
 color:#4A4949;  
 padding: 8px 16px; 
  &::placeholder{
    color: #4A4949;
  }
}

label {
  color: #FFFFFF;
   font-weight: 350;
}
