.footerFormulario {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

button {
  font-size: 19px;
  line-height: 120%;
  font-weight: 525;
  border-radius: 10px;
  padding: 8px 16px;
  background-color: #17D9B1;

}